@use '@angular/material' as mat;

@import '~@angular/material/theming';

@import "src/styles";

@include mat.core();

mat-toolbar {
  background-color: white !important;
  display: flex;
  position: sticky;
  font-family: "Suisse Intl", Helvetica, Arial, sans-serif;
  padding: 40px;
  width: 100%;
}

.flex-expand {
  flex: 1 auto;
}

.login-ref {
  text-decoration: none;
  color: map-get($custom-colors-logo, custom-pink);
  padding-left: 10px;
  padding-right: 10px;
  font-size: medium;
  font-weight: normal;
}

.login-ref:active {
  color: map-get($custom-colors-pics, custom-dark-pink);
}

.login-ref:hover {
  color: map-get($custom-colors-logo, custom-brown);
}

.login-ref[tabindex]:focus {
  color:map-get($custom-colors-logo, custom-brown);
  outline: none;
}

.image-homepage-ref {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100px;
  margin: 0;
  padding: 0;
  text-decoration: none;

  img {
    width: 80px;
    height: auto;
  }

  h1 {
    font-weight: normal;
    font-size: smaller;
    color: map-get($custom-colors-logo, custom-pink);
  }
}

button.mat-raised-button {
  background-color: map-get($custom-colors-logo, custom-pink);
  color: white;
  font-weight: lighter;
  border-radius: 30px;
}

button.mat-raised-button:hover {
  background-color: white;
  color: map-get($custom-colors-logo, custom-brown);
}

button.mat-stroked-button {
  background-color: map-get($custom-colors-logo, custom-blue);
  color: white;
  border-color: map-get($custom-colors-logo, custom-brown);
  font-weight: lighter;
  border-radius: 30px;
}

button.mat-stroked-button:hover {
  background-color: white;
  color: map-get($custom-colors-logo, custom-brown);
}

button.mat-stroked-button {
  margin: 10px;
  width: 160px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.sign-up-button,
.feedback-button {
  margin: 10px;
  width: 80px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
