<div class="service-container">
  <div class="form-container">
    <h1>Save a service</h1>
    <mat-form-field class="form-field"  appearance="fill">
      <mat-label>Enter Image URL</mat-label>
      <input [(ngModel)]="imageUrl" class="url-input" (focus)="markTouched()" matInput placeholder="https://..." name="imageUrl" [formControl]="url" required>
      <mat-error *ngIf="url.hasError('required')">
        URL is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="url.hasError('pattern')">
        Please enter a valid URL
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Title</mat-label>
      <input [(ngModel)]="serviceName" matInput placeholder="Enter service title" [formControl]="nameFormControl">
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Price in BGN</mat-label>
        <input [(ngModel)]="servicePrice" type="number" min="0.01" matInput placeholder="Enter service price" [formControl]="priceFormControl">
        <mat-error *ngIf="priceFormControl.hasError('required')">
          BGN Price is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="priceFormControl.hasError('pattern')">
          Please enter a valid price in BGN
        </mat-error>
      </mat-form-field>

    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Description</mat-label>
      <textarea [(ngModel)]="serviceDescription" matInput></textarea>
    </mat-form-field>
    <div class="submit-form-container">
      <button *ngIf="!loadingService.isLoading; else elseBlock" [disabled]="priceFormControl.invalid || nameFormControl.invalid" class ="submit-button" color="primary" type="submit" mat-raised-button (click)="addService()">Save</button>
      <ng-template #elseBlock>
        <button class ="submit-button" disabled color="primary" type="submit" mat-raised-button>Saving...</button>
      </ng-template>
    </div>
  </div>
</div>
