.view-orders-container {
  justify-content: center;
  align-content: center;
  display: grid;
}

.loading-spinner {
  width: 50px;
}

.order-card {
  margin-top: 30px;
  width: 50vw;
  background-color: #F8F9FA;
  font-size: x-large;
}
