<div class="registration-container">
  <div class="form-container">
    <h1 *ngIf="localStorageService.role!='admin'">
      Let’s clean together
    </h1>
    <h2 *ngIf="localStorageService.role!='admin'">
      Schedule faster - get the right people and manage your time better. <br>
      That’s Baba Luga Cleaning Service.
    </h2>
    <h2 *ngIf="localStorageService.role=='admin'" style="font-weight: normal">
      Register a Worker
    </h2>
    <form class="registration-form" (submit)="saveUser($event)">
      <div class="name-fields">
      <mat-form-field *ngIf="localStorageService.role=='admin'" class="form-field-names" appearance="fill">
        <mat-label>Select Position</mat-label>
        <mat-select [(value)]="role">
          <mat-option value="Maid">Maid</mat-option>
          <mat-option value="Driver">Driver</mat-option>
          <mat-option value="Supplier">Supplier</mat-option>
          <mat-option value="Technician">Technician</mat-option>
        </mat-select>
      </mat-form-field>
        <mat-form-field *ngIf="localStorageService.role=='admin'" class="form-field-names" appearance="fill">
          <mat-label>Select Team</mat-label>
          <mat-select [(value)]="team">
            <mat-option value="Team 1">1</mat-option>
            <mat-option value="Team 2">2</mat-option>
            <mat-option value="Team 3">3</mat-option>
            <mat-option value="Team 4">4</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="name-fields">
      <mat-form-field class="form-field-names" appearance="fill">
        <mat-label>First Name</mat-label>
        <input [(ngModel)]="firstName" matInput placeholder="Enter first name" [formControl]="nameFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="nameFormControl.hasError('required')">
          First Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field-names" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input [(ngModel)]="lastName" matInput placeholder="Enter first name" [formControl]="nameFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="nameFormControl.hasError('required')">
          Last Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      </div>
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Email</mat-label>
        <input [(ngModel)]="email" type="email" matInput placeholder="Enter valid email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Password</mat-label>
        <input [(ngModel)]="password" type="password" matInput placeholder="Enter your password" [formControl]="passwordFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('pattern')">
          Password <strong>must</strong> contain minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input [(ngModel)]="confirmedPassword" type="password" matInput placeholder="Confirm your password" [formControl]="passwordFormControl"  [errorStateMatcher]="matcher">
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Confirmation of password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button
        *ngIf="!loadingService.isLoading; else elseBlock"
        [disabled]="emailFormControl.invalid || nameFormControl.invalid || passwordFormControl.invalid"
        class ="submit-button"
        type="submit"
        mat-raised-button
      >Create account</button>
      <ng-template #elseBlock>
        <button class ="submit-button" disabled type="submit" mat-raised-button>Creating...</button>
      </ng-template>
    </form>
  </div>
</div>
