@use '@angular/material' as mat;

@import '~@angular/material/theming';

@import "src/styles";

@include mat.core();

* {
  color: map-get($custom-colors-logo, custom-brown);
}

.name-fields {
  display: flex;
  justify-content: center;
}

.registration-form {
  display: grid;
}

.registration-container {
  display: grid;
  justify-content: center;
}

.form-container {
  text-align: center;
  border-radius: 10px;
  width: 700px;
  height: 545px;
  padding: 20px;
  margin: 10px;
  background-color: #F8F9FA;
}

h1 {
  font-size: 40px;
}

h2 {
  font-weight: lighter;
}

strong {
  color: red;
}

.form-field-names {
  width: 100%;
}

.form-field,
.form-field-names {
  padding: 10px;
}

.submit-button {
  height: 50px;
  width: 100%;
  justify-self: center;
  border-radius: 20px;
  font-size: 17px;
}

button.mat-raised-button {
  background-color: map-get($custom-colors-logo, custom-pink);
  color: white;
  font-weight: lighter;
  border-radius: 30px;
}

button.mat-raised-button:hover:enabled {
  background-color: map-get($custom-colors-logo, custom-brown);
}
