@use '@angular/material' as mat;

@import '~@angular/material/theming';
@import "src/styles";

@include mat.core();

.homepage-container {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
}

.contents {
  width: 50rem;
  display: grid;
  justify-items: center;
}

.image {
  width:700px;
  height: 600px;
  object-fit: cover;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  line-height: 80px;
  color: map-get($custom-colors-logo, custom-brown);
}

h2 {
  font-weight: lighter;
}

button.mat-raised-button {
  background-color: map-get($custom-colors-logo, custom-pink);
  color: white;
  font-weight: lighter;
  border-radius: 30px;
}

button.mat-raised-button:hover:enabled {
  background-color: map-get($custom-colors-logo, custom-brown);
  //color: black;
}

.submit-button {
  width: 350px;
  font-size: 17px;
}

.arrow {
  transform: scale(0.8);
}
